container_commands:
  00_delete_node_modules:
    command: rm -rf node_modules
  10_touch_deploy_log:
    command: touch /tmp/deploy.log
  20_install_yarn:
    command: npm install -g yarn
    test: "! yarn -v"
  25_symlink_yarn:
    command: ln -s "$(npm bin --global)"/yarn /usr/bin/yarn
    test: "! yarn -v"
  30_api_yarn_install:
    command: yarn install --production=false &>> /tmp/deploy.log
  35_v1_yarn_install:
    command: cd ui/v1 && yarn install --production=false &>> /tmp/deploy.log
  40_v1_build:
    command: cd ui/v1 && yarn build
  50_v2_yarn_install:
    command: cd ui/v2 && yarn install --production=false &>> /tmp/deploy.log
  60_v2_build:
    command: cd ui/v2 && yarn build
