<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <title>Hey Mirza</title>
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  {{ cspMeta() }}
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.typekit.net/ytj5mys.css">
  {{ style(mix('v1/css/application.css')) }}
  @if(env('NODE_ENV') !== 'production' && !!env('SKIP_COOKIES_DISCLAIMER'))
  <meta name="mirza_skip_cookie_disclaimer"/>
  @endif
  @if(!!env('GOOGLE_ANALYTICS'))
  <meta name="mirza_google_analytics_id" content="{{env('GOOGLE_ANALYTICS') }}"/>
  @endif
</head>
<body>
@!section('content')
</body>
</html>
